---
import type { GetStaticPaths } from "astro";
import { hashToNativeFnMap } from "@/services/natives";
import functions from "@public/functions.json";
import Layout from "@/layout/Layout.astro";

export const getStaticPaths = (() => {
	return Object.entries(functions).flatMap(([_namespace, namespaceItems]) => {
		return Object.keys(namespaceItems).map((hash) => {
			return { params: { hash } };
		});
	});
}) satisfies GetStaticPaths;

export const prerender = true;

const hash = Astro.params.hash!;

const nativeFn = hashToNativeFnMap.get(hash);
if (!nativeFn) {
	return Astro.redirect("/404");
}
---

<Layout
	title={`alt:V NativeDB - ${nativeFn.altName}`}
	description=""
	keywords=""
>
	<h1 class="">{nativeFn.name}</h1>
</Layout>
