---
import { ViewTransitions } from "astro:transitions";
import { Icon } from "astro-icon";
// import natives from "@public/natives.json";
import Search from "@/components/Search.vue"
import TestTreeView from "@/components/TestTreeView.vue"

type Props = {
	title: string;
	description: string;
	keywords: string;
};

const { title, description, keywords } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Remove this after the final deploy -->
		<meta name="robots" content="noindex" />

		<meta name="theme-color" content="#231F20" />
		<meta name="darkreader-lock" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />

		<link
			rel="preload"
			href="/fonts/Inter-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/Inter-Medium.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/Inter-SemiBold.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>

		<slot name="head" />

		<style is:global>
			@font-face {
				font-family: "Inter";
				src:
					url("/fonts/Inter-Regular.woff2") format("woff2"),
					url("/fonts/Inter-Regular.woff") format("woff");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Inter";
				src:
					url("/fonts/Inter-Medium.woff2") format("woff2"),
					url("/fonts/Inter-Medium.woff") format("woff");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Inter";
				src:
					url("/fonts/Inter-SemiBold.woff2") format("woff2"),
					url("/fonts/Inter-SemiBold.woff") format("woff");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}

			body {
				min-height: 100svh;
				display: flex;
				flex-direction: column;
				color: theme("colors.white");
				background-color: #0b0b0b;
			}

			:root {
				color-scheme: dark;
				--header-height: 56px;
			}

			@media (min-width: 640px) {
				:root {
					--header-height: 64px;
				}
			}

			::selection {
				background-color: rgba(0, 148, 50, 0.7);
				color: theme("colors.white");
			}
		</style>
	</head>
	<body>
		<header class="pointer-events-auto fixed inset-0 z-20 flex h-[--header-height] w-screen items-center border-b border-white/[.06] bg-stone-800 px-6 backdrop-blur-[20px] backdrop-saturate-150 sm:px-8">
			<div>
				<a href="/" class="inline-flex gap-3 items-center h-16">
					<Icon name="altv-logo" class="h-8 w-8" />
					<span class="text-[17px] tracking-[-0.01em] font-medium leading-6">NativeDB</span>
				</a>
			</div>
		</header>
		<div class="flex flex-1 pt-[--header-height]">
			<aside class="flex-[0_0_300px] bg-stone-800 border-r border-white/[.06]">
				<nav class="p-2 flex flex-col">
					<TestTreeView client:load />
				</nav>
				<slot name="aside" />
			</aside>
			<main class="flex-1">
				<Search client:only />
				<slot />
			</main>
		</div>
		
		<footer></footer>
	</body>
</html>
